; Set URL for your scoped packages.
; For example package with name `@foo/bar` will use this URL for download
@HnBI:registry=https://gitlab.com/api/v4/packages/npm/

; Add token for uploading to the registry.
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
